[Unit]
Description=sensing
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/works/upload_file
ExecStart=/home/pi/works/gateway/sensing
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = multi-user.target
